.filterGroup {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.labelFilter {
    width: 30%;
    color: aqua;
    font-size: 0.75em;
}

.optionGroupFilter{
    width: 30%;
    color: brown;
    font-size: 0.75em;
}

.optionFilter {
    color: brown;
    font-size: 0.75em;
}

.divFavCards{
    display: flex;
    margin-top: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}